.todo-widget{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo{
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    width: 70%;
    text-transform: uppercase;
}

.active{
    box-shadow: 0 3px 10px var(--buttonBg);
    background: var(--buttonBg);
    color: #fff;
}

.inactive{
    background: var(--inputColor);
    text-decoration: line-through;
    box-shadow: 0 3px 10px var(--inputColor);
    color: var(--black);
}

.buttons{
    display: flex;
    gap: 0.5rem;
}

.icons-update,.icons-delete{
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
}

.icons-update{
    background: var(--black);
    box-shadow: 0 2px 5px var(--black);
    border-radius: 1rem;
    padding: 0.8rem;
}

.icons-delete{
    background: var(--buttonBg);
    box-shadow: 0 2px 5px var(--buttonBg);
    border-radius: 1rem;
    padding: 0.8rem;
}

@media screen and (max-width: 500px) {
    .todo, .icons-update, .icons-delete{
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .todo{
        width: 65%;
        font-size: 0.9rem;
    }

    .buttons{
        gap: 0.3rem;
    }

    .icons-update, .icons-delete{
        font-size: 1.15rem;
    }
}

